body{
    background-color: cadetblue;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0%;
}

.imgbar{
    display: block;
    text-align: center;
}
.imgbar .line{
    margin: -5.2% 0 6% 0;
    border-bottom: 4px solid #F5659A;
}

.img{
    margin-top: 1%;
    position: relative;
    border-radius: 30px;
    width: 20vw;
    height: 10vw;
    margin-bottom: 0%;
}

.menuBar{
    display: flex;
    justify-content: center;
}

.menuBar div{
    margin: 0 1.8%;
    padding: 5px;
    font-size: larger;
    color: #FBFEFD;
}

.menuBar div:hover{
    color: #F5659A;
    cursor: pointer;
}

.selected{
    border-bottom: solid 5px #F5659A;
    border-radius: 15px;
}
.selected:hover{
    color: #FBFEFD !important;
}
.bodyBorder{
    margin: 3% 0 0 0;
    color: black;
}
.homeBody{
    margin: 0%;
    display: block;
    background-image: url(images/homeback.png);
    width: 100%;
    height:471px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding:0;
}
.transparent{
    width: 100%;
    height:471px;
    background-color: rgba(49, 49, 47, 0.85);
    position: absolute;
}
.transparent h3{
    margin-left: 2%;
    text-overflow: ellipsis;
    color: cadetblue;
    font-weight: bolder;
    margin-right: 5%
}
.transparent h2{;
    text-decoration: underline;
    margin-left: 1%;
    color: #F5659A;
    font-weight: bolder;
}
.menuBody{
    text-align: center;
}
.menuBody h1{
    color: #FBFEFD;
    font-family:  'Segoe UI', 'Helvetica Neue', sans-serif;
}
.menuBody img{
    margin-top: -1%;
    border-radius: 5px;
    width: 10%;
}
.contentMenu{
    display: flexbox;
    text-align: justify;
}
.contentMenu h3{
    line-height: 0;
    margin: 5% 0 0 0;
    color: #F5659A;
    border-left: solid white 1px;
}
.contentMenu li{
    color: #FBFEFD;
    line-height: 0%;
    margin: 3% 0 0 0;
	padding: 1% 0 0 5%;
    list-style: none;
    background-image: url(images/candycane.png);
    background-size: 5%;
    background-repeat: no-repeat;
	background-position: left center;
}
.contentMenu h4{
    color: #FBFEFD;
    line-height: 0%;
    margin-left: 2%;
    
}
.contentMenu ul {
    columns: 2;
}

.contentMenu hr{
    margin: 5% 0 0 0;
    color: #F5659A;
    background-color: #F5659A;
    height: 1px;
    border: 0;
}
.contactWrapper{
    width: 100%;
    height:471px;
    background-color: #F5659A;
    position: absolute;
    text-align: center;
}
.contactWrapper h2{
    color: cadetblue;
}
.contactWrapper h3{
    color: #1d269b;
    line-height: 0%;
    font-weight: bold;
}
.contactWrapper h4{
    color: #FBFEFD;
}
.contactWrapper hr{
    margin: -0.5% 0 1.5% 0;
    height: 1px;
    border: 0;
    width: 100%;
    background-image: linear-gradient(to right,  #F5659A, cadetblue, #F5659A);
}
.contactWrapper .main{
    margin: 1% 0 1.5% 0;
}